version: '3.8'

services:
  backend:
    image: ghcr.io/mg-teamsoft/fis-app-backend:latest
    build: "null"
    env_file:
      - .env.prod
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - DB_URI=mongodb://mongo:27017/fisdb
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:6.0
    container_name: fis-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

volumes:
  mongo-data: