name: Build & Push Docker Image to GHCR

on:
  push:
    branches:
      - main
      - dev

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: fis-app-backend
      GHCR_REGISTRY: ghcr.io
      IMAGE_TAG: ghcr.io/${{ github.repository }}/fis-app-backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push to GHCR
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_TAG }}:latest
            ${{ env.IMAGE_TAG }}:${{ github.sha }}